<div class="container">
    <div class="header">
        <h1>Welcome to Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Hi {{full_name}},</p>
        <p>You have requested our offer <strong>{{offer_title}}</strong> on <strong>Book <span style="color: #72BB53">EV</span> Hotel</strong>.. We are excited to provide you with this exclusive offer.</p>
        <p>Please use the offer code below to unlock your special benefits and take advantage of our premium services:</p>
        <p><strong>Offer Code: {{offer_code}}</strong></p>
        <p>This offer is valid from <strong>{{offer_start_date}}</strong> to <strong>{{offer_end_date}}</strong>, so be sure to use it during this period to enjoy the benefits we have tailored just for you.</p>
        <p>If you did not request this code, you can safely ignore this email, and no further action will be required.</p>
        <p>Thank you for choosing Book EV Hotel! We look forward to serving you and helping you find the perfect hotel with EV charging facilities for your needs.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. All rights reserved.</p>
    </div>
</div>
