<div class="container">
    <div class="header">
        <h1>Bienvenue chez Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Bonjour {{full_name}},</p>
        <p>Vous avez sollicité notre offre <strong>{{offer_title}}</strong> sur <strong>Book <span style="color: #72BB53">EV</span> Hotel</strong>. Nous sommes ravis de vous offrir cette promotion exclusive.</p>
        <p>Veuillez utiliser le code d'offre ci-dessous pour bénéficier de vos avantages spéciaux et profiter de nos services premium :</p>
        <p><strong>Code d'offre : {{offer_code}}</strong></p>
        <p>Cette offre est valable du <strong>{{offer_start_date}}</strong> au <strong>{{offer_end_date}}</strong>, alors assurez-vous de l'utiliser pendant cette période pour profiter des avantages que nous avons spécialement conçus pour vous.</p>
        <p>Si vous n'avez pas demandé ce code, vous pouvez ignorer cet e-mail sans autre action requise.</p>
        <p>Merci d'avoir choisi Book EV Hotel ! Nous sommes impatients de vous servir et de vous aider à trouver l'hôtel idéal avec des bornes de recharge pour votre véhicule électrique.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Tous droits réservés.</p>
    </div>
</div>
