<div class="container">
    <div class="header">
        <h1>Bem-vindo ao Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Olá {{full_name}},</p>
        <p>Você solicitou nossa oferta <strong>{{offer_title}}</strong> em <strong>Book <span style="color: #72BB53">EV</span> Hotel</strong>.. Estamos entusiasmados por oferecer-lhe esta promoção exclusiva.</p>
        <p>Por favor, utilize o código de oferta abaixo para desbloquear os seus benefícios especiais e aproveitar os nossos serviços premium:</p>
        <p><strong>Código de Oferta: {{offer_code}}</strong></p>
        <p>Esta oferta é válida de <strong>{{offer_start_date}}</strong> até <strong>{{offer_end_date}}</strong>. Certifique-se de usá-lo dentro deste período para aproveitar os benefícios que preparamos especialmente para você.</p>
        <p>Se você não solicitou este código, pode ignorar este e-mail com segurança, sem necessidade de mais ações.</p>
        <p>Obrigado por escolher o Book EV Hotel! Estamos ansiosos para servi-lo e ajudá-lo a encontrar o hotel perfeito com estações de carregamento para veículos elétricos.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Todos os direitos reservados.</p>
    </div>
</div>
